<div class="project">
	<div class="project-line"></div>
	<div class="project-title">
		<span class="project-title__left">优秀项目推荐</span>
		<span class="project-title__right" (click)="toProjectCenter()">查看更多</span>
	</div>
	<div class="project-content">
		<div *ngFor="let item of projects" class="project-content__item">
			<img class="project-content__item-img"
			     src="assets/icon/home/project.jpeg">
			<span class="project-content__item-name">{{item.name}}</span>
			<span class="project-content__item-intro">{{item.introduce}}</span>
			<div class="project-content__item-operate">
				<i class="icon-watch"></i>
				<span>{{item.pageView}}</span>
				<i class="icon-praise"></i>
				<span>{{item.likeNum}}</span>
			</div>
		</div>
	</div>
</div>
