<div class="left">
  <div class="logo"><img src="../../../../assets/imgs/logo.png" alt="" /></div>
  <div class="introduction">
    <p>CodeRiver 河码专注于 IT 行业，是集教、学、研、实战、公益为一体的综合社区。目前分为五大生态群：</p>
    <p>CodeRiver 开源：致力于打造全栈全平台精品开源项目。</p>
    <p>CodeRiver 协作平台：程序员、设计师、产品经理等 IT 从业者的项目协作平台。</p>
    <p>CodeRiver 学院：提供多种形式的热门技术学习资源，免费专业的职业拓展平台。</p>
    <p>CodeRiver 技术研究院：研究前沿技术，推出自研框架。</p>
    <p>CodeRiver 公益：以技术推动公益事业发展，为公益团体免费开发项目。</p>
  </div>
  <div class="copyright">CodrRiver © 2018</div>
</div>
<div class="right"><div class="title">友情链接</div></div>
