<div class="container">
  <mat-card>
    <mat-card-header>
      <div class="logo"><img src="../../../assets/imgs/logo.png" alt="" /></div>
      <div class="title">{{ title }}</div>
    </mat-card-header>
    <mat-card-content>
      <layout-passport-login *ngIf="isLogin"></layout-passport-login>
      <layout-passport-register *ngIf="!isLogin"></layout-passport-register>
    </mat-card-content>
    <mat-card-footer>
      <div *ngIf="isLogin" class="login-footer">
        <div class="left">没有账号？<a (click)="changeLoginOrRegister()">注册</a></div>
        <div class="right"><a>忘记密码？</a></div>
      </div>
      <div *ngIf="!isLogin" class="register-footer">已有账号? <a (click)="changeLoginOrRegister()">登录</a></div>
    </mat-card-footer>
  </mat-card>
</div>
