<page-title-line color="#FABF30" title="下载移动端" action=""></page-title-line>
<div class="download">
	<div class="download-app">
		<img class="download-app-android" src="../../../../assets/icon/home/andro.png">
		<img class="download-app-ios" src="../../../../assets/icon/home/ios(1).png">
		<div class="download-app-code">
			<img class="download-app-code-android" src="../../../../assets/icon/home/code.png">
			<img class="download-app-code-ios" src="../../../../assets/icon/home/code.png">
		</div>
	</div>
</div>
