:host {
  display: flex;
  padding: 0 32px;
  height: 80px;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    .logo {
      width: 215px;
      img {
        width: 100%;
      }
    }
    .menu {
      margin-left: 20px;
    }
  }
  .right {
    margin-left: auto;
  }
}