<page-title-line color="#FABF30" title="快速加入团队" [clickFunc]="getMoreGroup"></page-title-line>
<div class="fast-join">
	<div *ngFor="let item of showList" class="fast-join-item">
		<div class="fast-join-item__list">
			<img class="fast-join-item__list-img" src="assets/icon/home/project.jpeg">
			<span class="fast-join-item__list-teamName">{{item.teamName}}</span>
			<div class="fast-join-item__list-recruit">{{item.recruitInfo}}</div>
		</div>
		<div class="fast-join-item__detail">
			<div class="fast-join-item__detail-intro">{{item.introduce}}</div>
			<div class="fast-join-item__detail-info">
				<img class="fast-join-item__detail-info-header" src="../../../../assets/icon/home/头像.png">
				<div style="overflow: hidden;">
					<div class="fast-join-item__detail-info-header__name">{{item.founderName}}</div>
					<div class="fast-join-item__detail-info-header__position">{{item.founderPosition}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fast-join-button">
	<i class="fast-join-button__left" [class.show]="currentIndex === 0" (click)="changeIndex()"></i>
	<i class="fast-join-button__right" [class.show]="currentIndex === maxIndex" (click)="changeIndex(true)"></i>
</div>
